.idea
webserver/app/main
webserver/app/winmain.exe
webserver/db/homeserver.sqlite3
webserver/db/movies.sqlite3
webserver/db/tv.sqlite3
webserver/scripts/.idea
public/images/tv
webserver/app/main
webserver/app/main
webserver/app/main
.vscode