:root {
    /* primary */
    --primary-100: hsl(244, 100%, 94%);
    --primary-200: hsl(243, 100%, 87%);
    --primary-300: hsl(243, 100%, 81%);
    --primary-400: #837dff;
    --primary-500: hsl(243, 100%, 68%);
    --primary-600: #504acc;
    --primary-700: #3c3799;
    --primary-800: #282566;
    --primary-900: hsl(244, 48%, 14%);
    /* grey */
    --grey--50: #f8fafc;
    --grey--100: #f1f5f9;
    --grey--200: #e2e8f0;
    --grey--300: #cbd5e1;
    --grey--400: #94a3b8;
    --grey--500: #64748b;
    --grey--600: #475569;
    --grey--700: #334155;
    --grey--800: #1e293b;
    --grey--900: #0f172a;
  
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
  
    /* fonts */
  
    --smallText: 0.7em;
  
    /* misc vars */
    --backgroundColor: var(--grey--50);
    --textColor: var(--grey--900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.2s ease-in-out all;
    --max-width: 1200px;
    --fixedWidth: 600px;
  
    /* box shadow */
    --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
  

.player-container {
    display: flex;
    flex-direction: row;
    max-height: 563px;
    padding: 2px;
    background-color: var(--primary--300)
}

.video-container {
    flex-grow: 1;
    width: calc(100% - 200px); /* Adjust the width to account for the fixed width of the episode list */
    height: 100%
}

.episode-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--black);
    overflow-y: auto; 
    overflow-x: hidden; 
    width: 200px;
}

.episode-text {
    white-space: nowrap;
    margin: 0;
}

.episode-card {
}

.side-card {
    background-color: var(--primary-100);
    height: 65px;
    align-items: center; 
}

.side-card:hover {
    background-color: var(--primary-300);
    cursor: grab;
}

.side-card.highlighted {
    background-color: var(--primary-200);
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.options li {
    padding-right: 2rem;
}
/* 
.btn {
    padding: 0;
    width: 8rem;
    height: 2rem;
} */

.selected-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-100);
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: var(--shadow-2);
}

.selected-series-container {

}

.search-container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-100);
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: var(--shadow-2);
    margin-bottom: 2rem;
}

.selected-series-data {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--primary-100);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-2);
}


.list-group-item:hover {
    background-color: var(--primary-300);
    cursor: grab;
}

.list-group-item.highlighted {
    background-color: var(--primary-200);
}

.list-group-item {
    padding: 0.5rem;
    background-color: var(--primary-100);
    border-bottom: 1px solid var(--grey--200);
}

.selected-series {
    background-color: var(--primary-300);
    display: none;
    width: inherit;
}

.selected-series-title {
}

.selected-series-review {
    background-color: var(--grey--100);
    margin: auto;
    margin-top: 1rem;
}

.selected-series-start {
    display: none;
    margin: auto;
}

.selected-series-start-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected-series-info {
    display: inline;
}

.select-img {
    margin: 1rem;
    padding: 1rem;
    margin-right: 0;
    background-color: var(--primary-100);
    box-shadow: var(--shadow-2);
    border-radius: 0.5rem;
    height: 30rem;
}

.btn {
    margin-top: 2rem;
    width: 10rem;
    height: 2rem;
    font-size: 1.5rem;
}

.show-selected {
    display: flex;
    flex-direction: row;
}

.show-selected-start {
    display: flex;
}

.series-container {
    display: none;    
    width: inherit;
}