{{ define "notfound" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 error</title>
    {{ template "head" . }}
  </head>
  <body>
    <header class="nav-center" id="nav-bar">
        {{ template "navbar" . }}
    </header>

    <main class="main-container">
      <h1 class="title">404 Page Not Found</h1>
      <div class="title-underline"></div>
      <p class="overview-text">404 Page Not Found</p>
      <br>
      <br>
      <img
        style="border: 10px solid var(--primary-500); border-radius: 5px"
        class="img"
        src="/assets/images/bunnies/404-bunny.jpg"
        alt=""
      />
    </main>

    <footer id="footer">
        {{ template "footer" . }}
    </footer>
  </body>
</html>
{{ end }}