{{ define "LANBooks" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a Reading List</title>
    {{ template "head" . }}    
  </head>

    <body>
        <header class="nav-center" id="nav-bar">
            {{template "navbar" . }}
        </header>
        
        <article>
            <!--title-->
            <h1>LANBooks</h1>
            
            <!--content-->
            <ul>
                <li>
                </li>				
            </ul>
        </article>
        
        <footer id="footer">
            {{ template "footer" . }}
        </footer>
    </body>

</html>

{{ end }}
