{{ define "addseries" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add a Series</title>
    {{ template "head" . }}    
    <link rel="stylesheet" href="/css/tv.css">
    <script src="/js/tv/search.js"></script>
  <body>
    <!-- navigation bar at the top -->
    <header class="nav-center" id="nav-bar">
      {{template "navbar" . }}
    </header>

    <main class="main-container-nobackground">
      <article>
        <h3 class="title">Add a Series</h3>
        <div class="title-underline"></div>

        <!-- The only necessary fields are Title, Subtitle, Director to ensure it is a unique entry -->
        <form class="form" action="" method="post" enctype="multipart/form-data">
          <!-- required start -->
          <label class="form-label" for="title">Title:</label>
          <input oninput="SearchInput()" class="form-input form-row" type="text" id="title" name="title" required>
          <!-- hid this button -->
        </form>
        
        <!-- hidden form that sends the request on to the scraper-->
        <form class="form" action="/submitseries" method="post" style="display: none;" enctype="multipart/form-data">
          <input class="form-input form-row" type="text" id="imdbCode" name="imdbCode" required>
          <button class="btn" type="submit" style="display: none;"></button>
        </form>

        <section class="selected-container selected-container">
          <span class="selected-series selected-series"> 
            <img class="select-img selected-series-image" src="images/bunnie_1.jpg selected-series-image" alt="">
            <div class="selected-series-info">
              <h3 class="selected-series-title title">Selected title</h3>
              <div class="title-underline"></div>
              <p class="selected-series-data selected-series-synopsis">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, sed minus ratione quis consectetur a expedita nostrum tenetur, temporibus autem recusandae. Tempore iusto numquam nam atque veritatis adipisci delectus eius!</p>
              <span class="selected-series-line">                
                <p class="selected-series-data selected-series-release">Release</p>
                <p class="selected-series-data selected-series-runtime">Runtime</p>
                <p class="selected-series-data selected-series-seasons">Seasons</p>
              </span>
              <span class="selected-series-line">                
                <p class="selected-series-data selected-series-ratings">Rating</p>
                <p class="selected-series-data selected-series-rating">unrated</p>
              </span>
              <span class="selected-series-line selected-series-genres">
                
              </span>
            </div>
          </span>

          <p class="selected-series-review selected-series-data">review</p>
          <button class="btn btn-center" id="hidden" onclick="document.querySelector('.btn').click()">Create</button>
        </section>


        <section class="search-container">
          <ul class="search-results"></ul>
        </section>

        <!-- I want a button that send the form -->

      </article>  
    </main>

    <footer id="footer">
      {{ template "footer" . }}
    </footer>

   </body>
</html>

{{ end }}