{{ define "series" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    {{ template "head" . }}    
    <link rel="stylesheet" href="/css/tv.css">
    <script src="/js/tv/series.js"></script>
  </head>

    <body>
        <header class="nav-center" id="nav-bar">
            {{ template "navbar" . }}
        </header>
          <article class="main-container">
        
            {{ template "aboutmedia" . }}

              <!-- about series  -->

        {{ if ne .Review " " }}
          <!-- review section -->
        <section class="review-container">
          <div class="selected-series-review-container" onclick="toggleReview()">
            <!-- Review content here -->
            <p>{{ .Review }}</p>
          </div>
        </section>
        {{ end }}
    </section>

          <!-- video player  -->

          <!-- if the selected season has episodes added -->
          {{ if 1 }}
           <section class="media-container">
            <section class="player-container">
                <article class="episode-list">
                  <ul>
                    {{ range .Seasons }}
                      {{ if .Active }}
                        {{ range .Episodes }}
                        <li class="episode-card">
                          <button class="side-card {{ if eq .EpisodeNum 1 }}highlighted{{ end }}" onclick="playEpisode('{{ $.ID }}', '{{ .Season }}', '{{ .EpisodeNum }}')" id="{{ .Season }}-{{ .EpisodeNum }}">
                            <!-- when you click on this it should play the episode -->
                            <h5 class="episode-text">{{ .EpisodeNum }}. {{ .Title}}</h3>
                          </button>
                        </li>
                        {{ end }}              
                      {{ end }}              
                    {{ end }}
                  </ul>
                </article>

                <div class="video-container">
                    {{ range .Seasons }}
                      {{ if .Active }}
                        {{ range .Episodes }}
                          {{ if eq .EpisodeNum 1 }}
                            <video class="video-player" id="video-player" width="100%" poster="" preload="auto" controls autoplay> 
                              <source src="{{ .Path }}" type="video/mp4">
                              Your browser does not support the video tag.
                            </video>
                          {{end}}
                        {{end}}
                      {{end}}
                    {{end}}                
                </div>
            </section>

            <!-- options -->
            {{ range .Seasons }}
              {{ if .Active }}
                {{ range .Episodes }}
                  {{ if eq .EpisodeNum 1 }}
              <section class="options">
                <ul class="options options-buttons">
                  <li>
                    <button class="btn">
                      <h5>Prev</h6>
                    </button>
                    </li>
                  <li>
                    <button class="btn">
                      <h5>Next</h6>
                    </button>
                    </li>
                  <li>
                    <h5>Dubs:</h5>
                  </li>
                  <li>
                  <button class="btn">
                    <h5>English</h6>
                  </button>
                  </li>
                  <li>
                    <button class="btn">
                      <h5>Japanese</h6>
                    </button>
                  </li>
                  <li>
                    <h5>Subs:</h5>
                  </li>
                  <li>
                    <button class="btn">
                      <h5>None</h6>
                    </button>
                    </li>
                  <li>
                  <button class="btn">
                    <h5>English</h6>
                  </button>
                  </li>
                  <li>
                    <button class="btn">
                      <h5>Japanese</h6>
                    </button>
                  </li>
                </ul>
              </section>
              {{end}}
              {{end}}
            {{end}}
          {{end}} 
        </section>
        {{ else }}

        <!-- form to add a season -->
        <form class="form" action="/submitMovieFile/{{ .ID }}" method="post" enctype="multipart/form-data">

          <label class="form-label" for="media">Drop a Folder Containing the Season Episodes:</label>
          <input class="form-input form-row" type="file" id="media" name="media" mozdirectory webkitdirectory required>

          <input class="btn btn-center" type="submit" value="Submit">
        </form>
        {{ end }}

          <!--seaons select-->
          <ul class="main-links">

            <!-- is they are NOT full they should be greyed out -->


            <!-- this will be a carousel -->
            {{ if gt (len .Seasons) 0 }}
              {{ range .Seasons }}
              <li>
                <a href="/tv/{{ $.ID }}/{{ .SeasonNum }}">
                  <div class="main-card {{ if lt (len .Episodes) 1 }} season-overlay {{ end}}">
                    <!-- when you click on this it should populate the side bar with the selected season -->
                    <img src="{{ if .Image }} {{ .Image }} {{ else }} ../../images/bunnie_2.jpg {{ end}}" class="img card-img" />
                    
                    <section class="card-info">
                      <h3>Season: {{ .SeasonNum }}</h3>
                      <div class="title-underline"></div>
                    </section>
                  </div>
                  
                  
                  </a>
                </li>			
              {{ end }}
            {{ end }}
          </ul>
          
          <!-- about the selected season -->
          <section>
            <p>This is where the selected season data will go.</p>
          </section>

        </article>

        <footer id="footer">
            {{ template "footer" . }}
        </footer>
    </body>

</html>

{{ end }}
