{{ define "series" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    {{ template "head" . }}    
    <link rel="stylesheet" href="/css/tv.css">
    <script src="/js/tv/series.js"></script>
  </head>

    <body>
        <header class="nav-center" id="nav-bar">
            {{ template "navbar" . }}
        </header>
        
        <article class="main-container">
          <!-- about series  -->
          <section>
            <section class="selected-container selected-container show-selected">
              <span class="selected-series selected-series"> 
                <img class="select-img selected-series-image" src="{{ .Image }}" alt="">
                <div class="selected-series-info">
                  <h3 class="selected-series-title title"> {{ .Title }}</h3>
                  <div class="title-underline"></div>
                  <p class="selected-series-data selected-series-synopsis">{{ .Synopsis }}</p>
                  <span class="selected-series-line">                
                    <p class="selected-series-data selected-series-release">{{ .ReleaseDate }}</p>
                    <p class="selected-series-data selected-series-runtime">{{ .Runtime }}</p>
                    <p class="selected-series-data selected-series-seasons">{{ .NumSeasons }}</p>
                  </span>
                  <span class="selected-series-line">                
                    <p class="selected-series-data selected-series-ratings">{{ .Ratings }}/10</p>
                    <p class="selected-series-data selected-series-rating">{{ .Rating }}</p>
                  </span>
                  <span class="selected-series-line selected-series-genres">
                    {{ range .GenresList }}
                      <p class="selected-series-data selected-series-data">{{ . }}</p>
                    {{ end }}
                  </span>
                </div>
              </span>
              
               <!-- review section -->
            <section class="review-container">
              <div class="selected-series-review-container" onclick="toggleReview()">
                <!-- Review content here -->
                <p>{{ .Review }}</p>
              </div>
            </section>
          </section>

          <!-- video player  -->

          <!-- if the selected season has episodes added -->
          {{ if 1 }}
           <section class="media-container">
            <section class="player-container">
                <article class="episode-list">
                  <ul>
                    {{ range .Seasons }}
                      {{ if .Active }}
                        {{ range .Episodes }}
                        <li class="episode-card">
                          <button class="side-card {{ if eq .EpisodeNum 1 }}highlighted{{ end }}" onclick="playEpisode('{{ $.ID }}', '{{ .Season }}', '{{ .EpisodeNum }}')" id="{{ .Season }}-{{ .EpisodeNum }}">
                            <!-- when you click on this it should play the episode -->
                            <h5 class="episode-text">{{ .EpisodeNum }}. {{ .Title}}</h3>
                          </button>
                        </li>
                        {{ end }}              
                      {{ end }}              
                    {{ end }}
                  </ul>
                </article>

                <div class="video-container">
                    {{ range .Seasons }}
                      {{ if .Active }}
                        {{ range .Episodes }}
                          {{ if eq .EpisodeNum 1 }}
                            <video class="video-player" id="video-player" width="100%" poster="" preload="auto" controls autoplay> 
                              <source src="{{ .Path }}" type="video/mp4">
                              Your browser does not support the video tag.
                            </video>
                          {{end}}
                        {{end}}
                      {{end}}
                    {{end}}                
                </div>
            </section>

            <!-- options -->
            {{ range .Seasons }}
              {{ if .Active }}
                {{ range .Episodes }}
                  {{ if eq .EpisodeNum 1 }}
              <section class="options">
                <ul class="options options-buttons">
                  <li>
                    <button class="btn">
                      <h5>Prev</h6>
                    </button>
                    </li>
                  <li>
                    <button class="btn">
                      <h5>Next</h6>
                    </button>
                    </li>
                  <li>
                    <h5>Dubs:</h5>
                  </li>
                  <li>
                  <button class="btn">
                    <h5>English</h6>
                  </button>
                  </li>
                  <li>
                    <button class="btn">
                      <h5>Japanese</h6>
                    </button>
                  </li>
                  <li>
                    <h5>Subs:</h5>
                  </li>
                  <li>
                    <button class="btn">
                      <h5>None</h6>
                    </button>
                    </li>
                  <li>
                  <button class="btn">
                    <h5>English</h6>
                  </button>
                  </li>
                  <li>
                    <button class="btn">
                      <h5>Japanese</h6>
                    </button>
                  </li>
                </ul>
              </section>
              {{end}}
              {{end}}
            {{end}}
          {{end}} 
        </section>
        {{ else }}

        {{ end }}

          <!--seaons select-->
          <ul class="main-links">
            <!-- this will be a carousel -->
            {{ if gt (len .Seasons) 0 }}
              {{ range .Seasons }}
              <li>
                <a href="/selectSeason/{{ $.ID }}/{{ .SeasonNum }}">
                  <div class="main-card">
                    <!-- when you click on this it should populate the side bar with the selected season -->
                    <img src="{{ .Image }}" class="img card-img" />
                    
                    <section class="card-info">
                      <h3>Season: {{ .SeasonNum }}</h3>
                      <div class="title-underline"></div>
                    </section>
                  </div>
                </a>
              </li>			
              {{ end }}
            {{ end }}
          </ul>
          
          <!-- about the selected season -->
          <section>
            <p>This is where the selected season data will go.</p>
          </section>

        </article>

        <footer id="footer">
            {{ template "footer" . }}
        </footer>
    </body>

</html>

{{ end }}
