<!DOCTYPE html>
<html lang="en">
    <head>

    </head>

    <body>
        <header>
            <!--top of page-->
            <ul>
                <span>
                <!--justified to the left-->
                <a href="/home">LOGO</a>
                
                <!--justified to the right-->
                <li>
                    <a href="/home">home</a>
                </li>
                <li>
                    <a href="/about">about</a>
                </li>
                <li>
                    <a href="/contact">contact</a>
                </li>
                </span>
            </ul>            
        </header>
        
        <article>
            <!--title-->
            <h1>Home server Landing Page</h1>
            
            <!--content-->
            <ul>
                <li>
                    <a href="/movies"><img src="" alt="">LAN Netflix</a>                    
                </li>				
                <li>
                    <a href="/tv"><img src="" alt="">LAN Netflix</a>                    
                </li>				
                <li>
                    <a href="/music"><img src="" alt="">LAN Music</a>                    
                </li>
                <li>
                    <a href="/pics"><img src="" alt="">LAN Pics</a>                    
                </li>
                <li>
                    <a href="/games"><img src="" alt="">LAN Games</a>                    
                </li>
                <li>
                    <a href="/books"><img src="" alt="">LAN Books</a>                    
                </li>
                <li>
                    <a href="/docs"><img src="" alt="">LAN Docs</a>                    
                </li>
            </ul>
        </article>

        <footer>
            <!--attach to bottom of page-->
            <ul>
                <li>
                    <a href="https://github.com/nathanialw/homeserver.git"><img src="" alt="">Github</a>
                </li>
                <li>
                    <a href="https://twitter.com"><img src="" alt="">Twitter</a>
                </li>
            </ul>
        </footer>
    </body>

</html>

