<!DOCTYPE html>
<html lang="en">
    <head>

    </head>

    <body>
                <article>
            <!--title-->
            <h1>Home server Landing Page</h1>
            
            <!--content-->
            <ul>
                <li>
                    <a href="/movies"><img src="" alt="">Movies</a>                    
                </li>				
                <li>
                    <a href="/tv"><img src="" alt="">TV</a>                    
                </li>				
                <li>
                    <a href="/music"><img src="" alt="">Music</a>                    
                </li>
                <li>
                    <a href="/pics"><img src="" alt="">Pics</a>                    
                </li>
                <li>
                    <a href="/games"><img src="" alt="">Games</a>                    
                </li>
                <li>
                    <a href="/books"><img src="" alt="">Books</a>                    
                </li>
                <li>
                    <a href="/docs"><img src="" alt="">Docs</a>                    
                </li>
            </ul>
        </article>

        <footer>
            <!--attach to bottom of page-->
            <ul>
                <li>
                    <a href="https://github.com/nathanialw/homeserver.git"><img src="" alt="">Github</a>
                </li>
                <li>
                    <a href="https://twitter.com"><img src="" alt="">Twitter</a>
                </li>
            </ul>
        </footer>
    </body>

</html>

