<!DOCTYPE html>
<html lang="en">
    <head>

    </head>

    <body>
        <header>
            <!--top of page-->
            <ul>
                <span>
                <!--justified to the left-->
                <a href="/">LOGO</a>
                
                <!--justified to the right-->
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/about.html">about</a>
                </li>
                <li>
                    <a href="/contact.html">contact</a>
                </li>
                </span>
            </ul>            
        </header>
        
        <article>
            <!--title-->
            <h1>Home server</h1>
            
            <!--content-->
            <ul>
                <li>
                    <a href="/LANNetFlix"><img src="" alt="">LAN Netflix</a>                    
                </li>				
                <li>
                    <a href="/LANMusic"><img src="" alt="">LAN Music</a>                    
                </li>
                <li>
                    <a href="/LANPics"><img src="" alt="">LAN Pics</a>                    
                </li>
                <li>
                    <a href="/LANGames"><img src="" alt="">LAN Games</a>                    
                </li>
                <li>
                    <a href="/LANBooks"><img src="" alt="">LAN Books</a>                    
                </li>
                <li>
                    <a href="/LANDocs"><img src="" alt="">LAN Docs</a>                    
                </li>
            </ul>
        </article>

        <footer>
            <!--attach to bottom of page-->
            <ul>
                <li>
                    <a href="https://github.com/nathanialw/homeserver.git"><img src="" alt="">Github</a>
                </li>
                <li>
                    <a href="https://twitter.com"><img src="" alt="">Twitter</a>
                </li>
            </ul>
        </footer>
    </body>

</html>

