<!DOCTYPE html>
<html lang="en">
    <head>

    </head>

    <body>
        <header>
            <!--top of page-->
            <ul>
                <span>
                <!--justified to the left-->
                <a href="/">LOGO</a>
                
                <!--justified to the right-->
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/about.html">about</a>
                </li>
                <li>
                    <a href="/contact.html">contact</a>
                </li>
                </span>
            </ul>            
        </header>
        
        <article>
            <!--title-->
            <h1>LANPics</h1>
            
            <!--content-->
            <ul>
                <li>
                </li>				
            </ul>
        </article>

        <footer>
            <!--attach to bottom of page-->
            <ul>
                <li>
                    <a href="https://github.com/nathanialw/homeserver.git"><img src="" alt="">Github</a>
                </li>
                <li>
                    <a href="https://twitter.com"><img src="" alt="">Twitter</a>
                </li>
            </ul>
        </footer>
    </body>

</html>


