{{ define "home" }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homeserver</title>
        {{ template "head" . }}
      </head>

    <body>
        <header class="nav-center" id="nav-bar">
            {{ template "navbar" . }}
        </header>
        <article class="main-container">
            <!--title-->
            <header>
                <h1 class="title title-header">Home server</h1>
                <div class="title-underline"></div>
              </header>

            <!--content-->
            <ul class="chart-links">
                <li><a href="/movies"><img alt="">Movies</a></li>				
                <li><a href="/gifs"><img alt="">GIFs</a></li>				
                <li><a href="/tv"><img alt="">TV</a></li>				
                <li><a href="/music"><img alt="">Music</a></li>
                <li><a href="/pics"><img alt="">Pics</a></li>
                <li><a href="/games"><img alt="">Games</a></li>
                <li><a href="/books"><img alt="">Books</a></li>
                <li><a href="/docs"><img alt="">Docs</a></li>
            </ul>
        </article>

        <footer id="footer">
            {{ template "footer" . }}
        </footer>
    </body>

</html>

{{ end }}