{{ define "home" }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homeserver</title>
        <!-- icons -->
        <link rel="icon" href="/assets/icons/css/all.css" title="icons" />
        <link rel="stylesheet" href="/assets/icons/css/all.css" />
        <!-- index styles -->
        <link rel="stylesheet" href="/js/nav/style.css" />
        <link rel="stylesheet" href="/js/footer/style.css" />
        <link rel="stylesheet" href="/style.css" />
        <link rel="stylesheet" href="/css/chart.css" />
      </head>

    <body>
        <header class="nav-center" id="nav-bar">
            {{ template "navbar" . }}
        </header>
        <article class="main-container">
            <!--title-->
            <header>
                <h1 class="title title-header">Home server</h1>
                <div class="title-underline"></div>
              </header>

            <!--content-->
            <ul class="chart-links">
                <li><a href="/moves"><img alt="">Movies</a></li>				
                <li><a href="/gifs"><img alt="">GIFs</a></li>				
                <li><a href="/tv"><img alt="">TV</a></li>				
                <li><a href="/music"><img alt="">Music</a></li>
                <li><a href="/pics"><img alt="">Pics</a></li>
                <li><a href="/games"><img alt="">Games</a></li>
                <li><a href="/books"><img alt="">Books</a></li>
                <li><a href="/docs"><img alt="">Docs</a></li>
            </ul>
        </article>

        <footer id="footer">
            {{ template "footer" . }}
        </footer>
    </body>

</html>

{{ end }}