{{ define "LANMovies" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <!-- icons -->
    <link rel="icon" href="/assets/icons/css/all.css" title="icons" />
    <link rel="stylesheet" href="/assets/icons/css/all.css" />
    <!-- index styles -->
    <link rel="stylesheet" href="/js/nav/style.css" />
    <link rel="stylesheet" href="/js/footer/style.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/chart.css" />
    
  </head>

    <body>
        <header class="nav-center" id="nav-bar">
            {{template "navbar" . }}
        </header>
        <article>
          <!--title-->
          <h1 class="title title-header">LAN Movies</h1>
          <div class="title-underline"></div>

          <h3 class="title">
            <a href="/addmovie">Add Movie</a>
          </h3>
          <!--content-->
          <
            <ul class="main-links">
              {{ if .NotEmpty}}
              {{ range .Movies }}
              <li>
                <a href="movie" class="main-card">
                  <img
                    src="{{.Image}}"
                    class="img card-img"
                  />
                  <section class="card-info">
                    <h3>{{.Title}}</h3>
                    <div class="title-underline"></div>
                    <p>
                      {{.Director}}
                    </p>
                  </section>
                </a>
              </li>			
              {{ end }}
              {{ end}}
            </ul>
        
        </article>

        <footer id="footer">
            {{ template "footer" . }}
        </footer>
    </body>

</html>

{{ end }}
