{{ define "movie" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <!-- icons -->
    <link rel="icon" href="/assets/icons/css/all.css" title="icons" />
    <link rel="stylesheet" href="/assets/icons/css/all.css" />
    <!-- index styles -->
    <link rel="stylesheet" href="/js/nav/style.css" />
    <link rel="stylesheet" href="/js/footer/style.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/chart.css" />
    
  </head>

    <body>
        <header class="nav-center" id="nav-bar">
            {{ template "navbar" . }}
        </header>
        <article class="main-container">
          <!--title-->
          <h1 class="title title-header">Movie</h1>
          <div class="title-underline"></div>

          <h3 class="title">
            <a href="/movies">Back</a>
          </h3>
          <!--content-->
  
          <h3>{{ .Title }}</h3>
          <span style="display: inline-flex; ">
            <img src="/movies/movies/c-b,c/1721607375000881.jpg" class="img card-img"/>
            <video width="640" height="480" autoplay controls>
              <source src="/movies/movies/c-b,c/1721654268008649.webm" type="video/webm">
              Your browser does not support the video tag.
          </span>
          <p>{{ .Synopsis }}</p>

        </article>

        <footer id="footer">
            {{ template "footer" . }}
        </footer>
    </body>

</html>

{{ end }}
