{{ define "movie" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies</title>
    {{ template "head" . }}    
  </head>

    <body>
        <header class="nav-center" id="nav-bar">
            {{ template "navbar" . }}
        </header>
        <article class="main-container">
          <!--title-->
          <h1 class="title title-header">Movie</h1>
          <div class="title-underline"></div>

          <h3 class="title">
            <a href="/movies">Back</a>
          </h3>
          <!--content-->
  
          <h3>{{ .Title }}</h3>
          <span style="display: inline-flex; ">
            <img src="{{.Image}}" class="img card-img"/>
            <video width="640" height="480" controls>
              <source src="{{.Path}}" type="video/webm">
              Your browser does not support the video tag.
            </video>
          </span>
          <p>{{ .Synopsis }}</p>

        </article>

        <footer id="footer">
            {{ template "footer" . }}
        </footer>
    </body>

</html>

{{ end }}
