{{ define "addmovie" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add a Movie</title>
    {{ template "head" . }}    
  <body>
    <!-- navigation bar at the top -->
    <header class="nav-center" id="nav-bar">
      {{template "navbar" . }}
    </header>

    <main class="main-container-nobackground">
      <article>
        <h3 class="title">Add a Movie</h3>
        <div class="title-underline"></div>
        <h3 class="title">
          <a href="/movies">Back</a>
        </h3>

        <!-- The only necessary fields are Title, Subtitle, Director to ensure it is a unique entry -->
        <form class="form" action="/submitmovie" method="post" enctype="multipart/form-data">
          <label class="form-label" for="media">Drop a Movie:</label>
          <input class="form-input form-row" type="file" id="media" name="media" required>
          <br>
          <label class="form-label" for="title">Title:</label>
          <input class="form-input form-row" type="text" id="title" name="title" required>
          <br>
          <label class="form-label" for="subtitle">Subtitle:</label>
          <input class="form-input form-row" type="text" id="subtitle" name="subtitle">
          <br>
          <label class="form-label" for="author">Director:</label>
          <input class="form-input form-row" type="text" id="director" name="director" required>
          <br>
          <span class="form-adjacent">
            <label class="form-label form-label-adjacent" for="year">Release Year:</label>
            <span class="form-adjacent">
              <input class="form-input form-row form-adjacent" type="number" min="1" max="6000" step="1" id="year" name="year" placeholder="2024" required>
            </span>
          </span>
          <br>
          <label class="form-label" for="image">Movie Cover:</label>
          <input class="form-input form-row" type="file" id="image" name="image" required>
          <label class="form-label" for="length">Length(minutes):</label>
          <input class="form-input form-row" type="number" min="1" max="600" step="1" id="length" name="length" required>
          <br>
          <label class="form-label" for="image">Series:</label>
          <span class="form-adjacent">
            <select class="form-input form-row form-adjacent" id="series" name="series" required>
              <option value="input"></option>
              <option value="AD">AD</option>
              <option value="BC">BC</option>
            </select>
            <input class="form-input form-row form-adjacent" type="text" id="series" name="series" placeholder="none" required>
          </span>
          <br>
          <label class="form-label" for="genre">Genre:</label>
          <span class="form-adjacent">
            <select class="form-input form-row form-adjacent" id="genre" name="genre" required>
              <option value="input"></option>
              <option value="horror">horror</option>
              <option value="fantasy">fantasy</option>
            </select>
            <input class="form-input form-row form-adjacent" type="text" id="series" name="series" placeholder="horror" required>
          </span>
          <br>
          <label class="form-label" for="synopsis">Synopsis:</label>
          <textarea class="form-input form-row form-textarea" id="synopsis" name="synopsis" required></textarea>
          <br>

          <input class="btn btn-center" type="submit" value="Submit">
        </form>
      </article>  
    </main>

    <footer id="footer">
      {{ template "footer" . }}
    </footer>

   </body>
</html>

{{ end }}