{{ define "home" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies</title>
    {{ template "head" . }}
  </head>

    <body>
        <header class="nav-center" id="nav-bar">
            {{template "navbar" . }}
        </header>
        <article class="main-container">
          <!--title-->
          <h1 class="title title-header">LAN Movies</h1>
          <div class="title-underline"></div>

          <!--content-->          
            <ul class="main-links">
              {{ if .NotEmpty}}
                {{ range .Media }}
                <li>
                  <a href="movie/{{.ID}}" class="main-card">
                    <img
                      src="{{.Image}}"
                      class="img card-img"
                    />
                    <section class="card-info">
                      <h3>{{.Title}}</h3>
                      <div class="title-underline"></div>
                    </section>
                  </a>
                </li>			
                {{ end }}
              {{ end}}
            </ul>
        
        </article>

        <footer id="footer">
            {{ template "footer" . }}
        </footer>
    </body>

</html>

{{ end }}
