{{ define "movie" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies</title>
    {{ template "head" . }}  
    <link rel="stylesheet" href="/css/tv.css">
    <script src="/js/tv/series.js"></script>  
  </head>

    <body>
        <header class="nav-center" id="nav-bar">
            {{ template "navbar" . }}
        </header>
        
        <article class="main-container">
            <section class="selected-container selected-container show-selected">
              <span class="selected-series selected-series"> 
                <img class="select-img selected-series-image" src="{{ .Image }}" alt="">
                <div class="selected-series-info">
                  <h3 class="selected-series-title title"> {{ .Title }}</h3>
                  <div class="title-underline"></div>
                  <p class="selected-series-data selected-series-synopsis">{{ .Synopsis }}</p>
                  <span class="selected-series-line">                
                    <p class="selected-series-data selected-series-release">{{ .ReleaseDate }}</p>
                    <p class="selected-series-data selected-series-runtime">{{ .Runtime }}</p>
                  </span>
                  <span class="selected-series-line">                
                    <p class="selected-series-data selected-series-ratings">{{ .Ratings }}/10</p>
                    <p class="selected-series-data selected-series-rating">{{ .Rating }}</p>
                  </span>
                  <span class="selected-series-line selected-series-genres">
                    {{ range .Genres }}
                      <p class="selected-series-data selected-series-data">{{ . }}</p>
                    {{ end }}
                  </span>
                </div>
              </span>
              
               <!-- review section -->
            <section class="review-container">
              <div class="selected-series-review-container" onclick="toggleReview()">
                <p>{{ .Review }}</p>
              </div>
            </section>
          </section>

          <!-- video player  -->
           {{ if eq .Path " " }}
            <form class="form" action="/submitMovieFile/{{ .ID }}" method="post" enctype="multipart/form-data">

              <h2 class="title">Add Movie</h2>
              <div class="title-underline"></div>

              <label class="form-label" for="media">Drop a Folder Containing the Season Episodes:</label>
              <input class="form-input form-row" type="file" id="media" name="media" required>
    
              <input class="btn btn-center" type="submit" value="Submit">
            </form>
          {{ else}}
            <section class="player-container">
              <div class="video-container">
                <video class="video-player" id="video-player" width="100%" poster="{{ .Image }}" preload="auto" controls autoplay> 
                  <source src="{{ .Path }}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </section>
          {{ end }}

          <section>
            <!-- TODO: -->
            <h4>carousel showing similar films</h4>
          </section>

        </article>

        <footer id="footer">
            {{ template "footer" . }}
        </footer>
    </body>

</html>

{{ end }}
