{{ define "movie" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies</title>
    {{ template "head" . }}  
    <link rel="stylesheet" href="/css/tv.css">
    <script src="/js/tv/series.js"></script>  
  </head>

    <body>
        <header class="nav-center" id="nav-bar">
            {{ template "navbar" . }}
        </header>
        
        <main class="main-container">

          {{ template "aboutmedia" . }}

          <!-- video player  -->
           {{ if eq .Path " " }}
            <form class="form" action="/submitMovieFile/{{ .ID }}" method="post" enctype="multipart/form-data">

              <h2 class="title">Add Movie</h2>
              <div class="title-underline"></div>

              <label class="form-label" for="media">Drop a Folder Containing the Season Episodes:</label>
              <input class="form-input form-row" type="file" id="media" name="media" required>
    
              <input class="btn btn-center" type="submit" value="Submit">
            </form>
          {{ else}}
            <section class="player-container">
              <div class="video-container">
                <video class="video-player" id="video-player" width="100%" poster="{{ .Image }}" preload="auto" controls autoplay> 
                  <source src="{{ .Path }}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </section>
          {{ end }}

          <section>
            <!-- TODO: -->
            <h4>carousel showing similar films</h4>
          </section>

        </main>

        <footer id="footer">
            {{ template "footer" . }}
        </footer>
    </body>

</html>

{{ end }}
