{{ define "movie" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies</title>
    {{ template "head" . }}    
  </head>

    <body>
        <header class="nav-center" id="nav-bar">
            {{ template "navbar" . }}
        </header>
        
        <article class="main-container">
          <h3 class="title">
            <a href="/movies">Back</a>
          </h3>
          
          <!--title-->
          <h3 class="title title-header">{{ .Title }}</h3>
          <div class="title-underline"></div>
          <!--content-->
          <video width="640" height="480" poster="{{ .Image }}" preload="auto" controls style="margin: auto; display: flex;">
            <source src="{{ .Path }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <p class="overview-text">{{ .Synopsis }}</p>
          <form action="/removemovie" method="post" >
            <button type="submit" name="delete" value="{{.Title}}_{{.Subtitle}}_{{.Director}}" class="btn btn-center" style="background-color: darkred;">Delete</button>
          </form>
        </article>

        <footer id="footer">
            {{ template "footer" . }}
        </footer>
    </body>

</html>

{{ end }}
