{{ define "aboutmedia" }}

<section>
    <section class="selected-container selected-container show-selected">
      <span class="selected-series selected-series"> 
        <img class="select-img selected-series-image" src="{{ .Image }}" alt="">
        <div class="selected-series-info">
          <h3 class="selected-series-title title"> {{ .Title }}</h3>
          <div class="title-underline"></div>
          <p class="selected-series-data selected-series-synopsis">{{ .Synopsis }}</p>
          <span class="selected-series-line">                
            <p class="selected-series-data selected-series-release">{{ .ReleaseDate }}</p>
            <p class="selected-series-data selected-series-runtime">{{ .Runtime }}</p>
            {{ if fieldExists . "NumSeasons" }}
            <p class="selected-series-data selected-series-seasons">{{ .NumSeasons }}</p>
            {{ end }}
          </span>
          <span class="selected-series-line">                
            <p class="selected-series-data selected-series-ratings">{{ .Ratings }}/10</p>
            <p class="selected-series-data selected-series-rating">{{ .Rating }}</p>
          </span>
          <span class="selected-series-line selected-series-genres">
            {{ range .GenresList }}
              <p class="selected-series-data selected-series-data">{{ . }}</p>
            {{ end }}
          </span>
        </div>
      </span>

        {{ if ne .Review " " }}
        <!-- review section -->
      <section class="review-container">
        <div class="selected-series-review-container" onclick="toggleReview()">
          <!-- Review content here -->
          <p>{{ .Review }}</p>
        </div>
      </section>
      {{ end }}
    </section>

{{ end }}
      