{{ define "home" }}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Homeserver</title>
        {{ template "head" . }}
      </head>

    <body>
        <header class="nav-center" id="nav-bar">
            {{ template "navbar" . }}
        </header>
        <article class="main-container">
            <!--title-->
            <header>
                <h1 class="title title-header">Home server</h1>
                <div class="title-underline"></div>
              </header>

            <!--content-->
            <ul class="main-links">
                <li>
                    <a href="/movie" class="main-card">
                        <img
                        src=""
                        class="img card-img"
                        />
                        <section class="card-info">
                        <h3>Movies</h3>
                        <div class="title-underline"></div>
                        </section>
                    </a>
                </li>		
                <li>
                    <a href="/TV" class="main-card">
                        <img
                        src=""
                        class="img card-img"
                        />
                        <section class="card-info">
                        <h3>TV</h3>
                        <div class="title-underline"></div>
                        </section>
                    </a>
                </li>		
                <li>
                    <a href="/books" class="main-card">
                        <img
                        src=""
                        class="img card-img"
                        />
                        <section class="card-info">
                        <h3>Books</h3>
                        <div class="title-underline"></div>
                        </section>
                    </a>
                </li>			
                <!-- <li><a href="/gifs"><img alt="">GIFs</a></li>				
                <li><a href="/music"><img alt="">Music</a></li>
                <li><a href="/pics"><img alt="">Pics</a></li>
                <li><a href="/games"><img alt="">Games</a></li> -->
                <!-- <li><a href="/docs"><img alt="">Docs</a></li> -->
            </ul>
        </article>

        <footer id="footer">
            {{ template "footer" . }}
        </footer>
    </body>

</html>

{{ end }}