{{ define "notfound" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 error</title>
    {{ template "head" . }}
  </head>
  <body>
    <header class="nav-center" id="nav-bar">
        {{ template "navbar" . }}
    </header>

    <main class="main-container">
      <h1 class="title">Page Not Found</h1>
      <div class="title-underline"></div>

      <h2 class="title">
        <a href="/">Home</a>
      </h2>

      <img
        style="border: 10px solid var(--primary-500); border-radius: 5px"
        class="img"
        height="1280"
        src="/images/bunnie_0.jpg"
        alt=""
      />
    </main>

    <footer id="footer">
        {{ template "footer" . }}
    </footer>
  </body>
</html>
{{ end }}